body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
    box-shadow: 0 1px 10px #BBB;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 40px;
}

.search-container {
  max-width: 400px;
  margin: auto;
}

.search-bar {
  width: 100%;
  margin-bottom: 10px;
}

.employee-list {
  max-width: 400px;
  margin: auto;
  padding-bottom: 20px;
}

.employee-list > :nth-last-child(n+2) {
  border-bottom: 1px solid grey;
}

.employee-list-item {
  height: 75px;
  display: flex;
}

.employee-list-item:hover {
  background: lightgrey;
}

.employee-list-item-thumbnail {
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 0 20px 0 15px;
}

.employee-list-item-thumbnail img {
  border-radius: 50%;
}

.employee-list-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.employee-list-item-info-upper {
  padding-bottom: 5px;
}

.employee-list-item-name {
  font-size: 18px;
  padding-right: 20px;
}

.employee-list-item-department {
  color: grey;
  font-size: 12px;
}

.employee-list-item-info-lower {
  font-size: 12px;
}

.employee-list-paginator-container {
  max-width: 500px;
  margin: auto;
}

.employee-list-paginator {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
}

.employee-list-paginator a {
  padding: 10px 5px;
  background: lightgrey;
  outline: none;
}

.employee-list-paginator a:hover {
  cursor: pointer;
  background: #939393;
}

.employee-list-paginator-active a {
  background: lightblue;
}

.employee-info-card {
  width: 400px;
  margin: auto;
}

.employee-info-card-header {
  display: flex;
  margin-bottom: 20px;
}

.employee-info-card-image > img {
  border-radius: 50%;
  margin-right: 30px;
}

.employee-info-card-brief {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.employee-info-card-brief > :first-child {
  margin-bottom: auto;
}

.employee-info-card-brief > span {
  display: block;
}

.employee-info-card-name {
  font-size: 30px;
}
